# FireFLY CP AO, applied on top of imx8_var_defconfig:
#   make imx8_var_defconfig ffcp-ao.config
#
# Ported from imx8_ffcp_ao_defconfig in linux-imx-ffcp v1.4.0.

CONFIG_LOCALVERSION="-ffcp"
# CONFIG_LOCALVERSION_AUTO is not set

# I2C4 EEPROMs (24c02, 24mac402)
CONFIG_EEPROM_AT24=y

# I2C5 state-of-health sensors
CONFIG_SENSORS_LTC2945=m
CONFIG_SENSORS_JC42=m
CONFIG_IIO_ST_SENSORS_CORE=m
CONFIG_IIO_ST_ACCEL_3AXIS=m
CONFIG_IIO_ST_ACCEL_I2C_3AXIS=m
